<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IndexGestor</title>
    <link rel="stylesheet" href="/src/styles.css">
   </head>

<body>
        <header id="header">
                <nav class="mb-1 navbar navbar-expand-lg navbar-dark orange lighten-1">
                        <div class="navbar-brand">HNWALLET <sup>C.O</sup></div>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
                          aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
                        </button>
                        <div class="collapse navbar-collapse" >
                          <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                              <a class="nav-link" [routerLink]="['/','gestorIndex']">Inicio
                              </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle"  data-toggle="dropdown"
                                  aria-haspopup="true" aria-expanded="false">Operaciones
                                </a>
                                <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                                  <a class="dropdown-item" [routerLink]="['/','gestorAcreditar']">Acreditar</a> 
                                  <a class="dropdown-item" [routerLink]="['/','gestorDebitar']">Debitar</a> 
                                </div>
                              </li>
                          
                          </ul>
                          <ul class="navbar-nav ml-auto nav-flex-icons">
                              <li class="nav-item">
                                  <a class="nav-link waves-effect waves-light">
                                      <a id="saldo">Su saldo</a>
                                      <input type="text" class="btn btn-warning" id="inputSaldo" [(ngModel)]="saldo" disabled="true"> 
                                  </a>
                                </li>
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <img src="../../../assets/img/userWhite.png" class="indexuser">
                              </a>
                              <div class="dropdown-menu dropdown-menu-right dropdown-default"
                                aria-labelledby="navbarDropdownMenuLink-333">
                                <a class="dropdown-item"  [routerLink]="['/']">Salir</a>
                              </div>
                            </li>
                          </ul>
                        </div>
                       
                      </nav>
         </header>
         
<div class="container-fluid usuarioindex">

                <h2>Bienvenido</h2>
                  
</div>
</body>
</html>